.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    
    
}
h1{
text-transform: uppercase;
color:goldenrod;
}
button{
    padding: 5px 20px 5px 20px;
}
button:hover{
    color:hsl(116, 61%, 60%)
    ;
}
